*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#bdbdbd;
  color:#222;
  line-height:1.6;
}

/* Hero */
.hero{
  text-align:center;
  padding:60px 20px;
  background:white;
}

.hero h1{
  font-size:42px;
}

.hero h2{
  font-size:26px;
  font-weight:normal;
  margin:8px 0;
}

.hero .years{
  font-size:18px;
  color:#0d0c0c;
}

/* Quote */
.quote-section{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:30px;
  padding:50px 20px;
  max-width:1100px;
  margin:auto;
}

.quote-text{
  flex:1;
  font-size:20px;
  font-style:italic;
}

.quote-image{
  flex:1;
  text-align:center;
}

.quote-image img{
  width:100%;
  max-width:350px;
  border-radius:10px;
}

/* Biography */
.biography{
  max-width:900px;
  margin:auto;
  padding:40px 20px;
  background:#d6d4d4;
}

.biography h2{
  text-align:center;
  font-size:30px;
  margin-bottom:20px;
}

.biography p{
  margin-bottom:15px;
  text-align:justify;
}

/* Footer */
footer{
  text-align:center;
  padding:20px;
  background:#eee;
  font-size:14px;
  position: relative;
}

