@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient( #25cdfc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: #333;
}

input, button {
  display: block;      
  width: 100%;        
  padding: 12px 15px;
  margin: 10px 0;      
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 16px;
}

input:focus {
  border-color: #2575fc;
  box-shadow: 0 0 8px rgba(37, 117, 252, 0.4);
  outline: none;
}

button {
  background: #2575fc;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #6a11cb;
  transform: translateY(-2px);
}

a {
  display: flex;   
  gap:20px;    
  margin-top: 10px;
  color: #2575fc;
  text-decoration: underline;
  transition: 0.3s;
}

a:hover {
  color: #6a11cb;
}
